* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
}

body {
    color: #ffffff;
    background-color: #20242d;
}



.content h2 {
    color: #fff;
    font-size: 30px;
    position: absolute;
    margin-left: 2em;
    transform: translate(-50%, -50%);
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.navbar a {
    display: inline-block;
    font-size: 25px;
    padding: 3px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: #9CFF00;
}


.burger-menu {
    display: none;
}

.home {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 140px 0;
    position: relative;
}

.home-content {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

.home-img {
    text-align: right;
    max-width: 100%;
    margin-right: 12%;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: #9CFF00;
    font-size: 32px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}


.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #9CFF00;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 2px #9CFF00,
        0 0 15px #9CFF00
}

.btn-box:hover {
    box-shadow: 0 0 5px #9CFF00,
        0 0 25px #9CFF00, 0 0 50px #9CFF00;
}

.about {
    padding: 40px 0;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.about-img {
    flex: 0 0 30%;
    padding: 0 20px;
    margin-left: 100px;
}

.about-img img {
    width: 100%;
    border-radius: 100%;
    box-shadow: 1px 1px 20px #9CFF00;
}

.home-content {
    flex: 0 0 60%;
    padding: 0 20px;
    text-align: left;
}

.btn-box {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #9CFF00;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 40px;
}



.home-content h2 {
    font-size: 60px;
}

.home-content h2 span {
    color: #9CFF00;
    font-size: 60px;
}

.home-content h4 {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.serveice-list {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.sub-title {
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
}

.sub-title span {
    color: #9CFF00;
}

.container {
    padding: 90px;
}

.serveice-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}

.serveice-list div {
    background: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 400;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 2px #9CFF00,
        1px 1px 4px #9CFF00
}

.serveice-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.serveice-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.serveice-list div a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.read {
    display: inline-block;
    padding: 12px 28px;
    background: #9CFF00;
    border-radius: 16px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #9CFF00,
        0 0 15px #9CFF00;

}

.read:hover {
    box-shadow: 0 0 5px #9CFF00,
        0 0 25px #9CFF00, 0 0 50px #9CFF00,
        0 0 100px #9CFF00, 0 0 200px #9CFF00
}

.serveice-list div:hover {
    transform: translateY(-20px);
}

section {
    display: flex;
    flex-wrap: wrap;

}
.sub-title{
    margin-top: -10px;
}
.skills{
    margin-top: -80px;

}
.container1 {
    margin-top: 70px;
    height: 100vh;
    width: 600px;

    padding: 75px 90px;
    margin-left: 70px;
}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 10px;
}

.bar {
    font-size: 23px;
    margin-top: 20px;
}

.technical-bars .bar {
    margin-top: 40px 0;
}

.technical-bars .bar:first-child {
    margin-top: 0;
}

.technical-bars .bar:last-child {
    margin-bottom: 0;
}

.technical-bars .bar .info {
    margin-bottom: 5px;
}

.technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    animation: animate 1s cubic-bezier(1, 0, 0, 5, 1) forwards;
    transform-origin: left;
}

.technical-bars .bar .progress-line span {
    height: 100%;
    background-color: #9CFF00;
    position: absolute;
    border-radius: 10px;
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

.progress-line.html span {
    width: 90%;
}

.progress-line.css span {
    width: 90%;
}

.progress-line.Javascript span {
    width:70%;
}

.progress-line.python span {
    width: 50%;
}

.progress-line.java span {
    width: 60%;
}

.progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after {
    content: "90%";
}

.progress-line.css span::after {
    content: "90%";
}

.progress-line.Javascript ::after {
    content: "70%";
}

.progress-line.python span::after {
    content: "50%";
}

.progress-line.java span::after {
    content: "60%";
}

.progress-line span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-bottom: 40px;
    margin-left: -12px;

}

.radial-bars {
    position: relative;
    width: 150px;
    height: 150px;
}

.radial-bars svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.progress-bar {
    fill: none;
    stroke-width: 15;
}

.percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
}

.text {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.path {
    stroke-width: 10;
    stroke: #9CFF00;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1 {
    animation: animate-path1 1s 1s linear forwards;
}

.path-2 {
    animation: animate-path2 1s 1s linear forwards;
}

.path-3 {
    animation: animate-path3 1s 1s linear forwards;
}

.path-4 {
    animation: animate-path4 1s 1s linear forwards;
}

.radial-bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.radial-bars .text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 51%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    margin: -11px;
    margin-left: -27px;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}


.testimonial-page {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.testimonial {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    margin-top: -120px;
    
}

.testimonialh1 {
    margin: 20px 0;
    font-size: 60px;
    margin-bottom: 100px;
}

.testimonialh1 span {
    color: #9CFF00;
    margin-bottom: 30px;

}



.arrow-wrapper {
    position: relative;
    width: 70%;
    border-radius: 2rem;
    box-shadow: 0 0 5px #9CFF00,
        0 0 15px #9CFF00;
    overflow: hidden;
    place-items: center;
}



.review-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: calc(2rem + 1vmin);
    width: 100%;
}

#imgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: calc(6rem + 4vmin);
    height: calc(6rem + 3vmin);
    position: relative;
    box-shadow: 5px -3px #9CFF00;
    background-size: contain;
    margin-bottom: calc(0.7rem + 0.5vmin);
}

#name {
    margin-bottom: calc(0.7rem + 0.5vmin);
    font-size: calc(1rem + 0.5vmin);
    letter-spacing: calc(0.1rem + 0.1vmin);
    font-weight: bold;
}

#profession {
    font-size: calc(2rem + 0.9vmin);
    margin-bottom: calc(0.7rem + 0.5vmin);
    color: #9CFF00;
}

#description {
    font-size: calc(0.8rem + 0.3vmin);
    width: 70%;
    max-width: 40rem;
    text-align: center;
    margin-bottom: calc(1.4rem + 1vmin);
    color: rgb(255, 255, 255);
    line-height: 2rem;
}

.arrow {
    width: calc(1.4rem + 0.6vmin);
    height: calc(1.4rem + 0.6vmin);
    border: solid #9CFF00;
    border-width: 0 calc(0.5rem + 0.2vmin) calc(0.5rem + 0.2vmin) 0;
    cursor: pointer;
    transition: transform 0.3s;
}

.arrow:hover {
    transition: 0.3s;
    transform: scale(1.15);
}

.left-arrow-wrap {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: rotate(135deg);
}

.right-arrow-wrap {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: rotate(-45deg);
}

section {
    padding: 10px 0;
}


.Contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.contact-text {
    flex: 1;
    padding-left: 50px;
}

.contact-text h2 {
    font-size: 60px;
    padding-bottom: 40px;
    line-height: 1;
}

.contact-text h2 span {
    color: #9CFF00;
}

.contact-text h4 {
    margin-top: 15%;
    color: #ff5353;
    font-size: 20px;
    font-weight: 600;
}



.contact-list {
    margin-top: 30px;
    list-style: none;

}

.contact-list li {
    margin-bottom: 10px;
    display: inline-block;
    color: #9CFF00;
    font-size: 16px;
    font-weight: 600;
}

.contact-icons {
    display: flex;
    margin-top: 30px;
}

.contact-form input::placeholder {
    color: #9CFF00;
}

.contact-form textarea::placeholder {
    color: #9CFF00;
}

.contact-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #9CFF00;
    border-radius: 50%;
    font-size: 20px;
    color: #9CFF00;
    text-decoration: none;
    margin-right: 20px;
    transition: .5s ease;
}

.contact-form {
    flex: 1;
    padding-right: 50px;
}

.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: 12px;
    background: #464545;
    border: none;
    color: #9CFF00;
    margin-bottom: 15px;
    border-radius: 5px;
}

.contact-form form textarea {
    resize: none;
    height: 150px;
}

.contact-form form .send {
    display: inline-block;
    padding: 12px 30px;
    background: #9CFF00;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.contact-form form .send:hover {
    background-color: #081b29;
    color: #9CFF00;
}

.contact-form .btn-box {
    width: 15%;
}

.last-text {
    text-align: center;
    margin-top: -50px;
}

.contact-text h2 span {
    color: #9CFF00;
}

.contact-text h4 {
    margin: 15px;
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.contact-text p {
    color: white;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list {
    margin-bottom: 1rem;
}

.contact-list li {
    margin-bottom: 10px;
    display: block;

}

.contact-list li {
    margin-bottom: 10px;
    display: inline-block;
    color: #9CFF00;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list li i:hover {
    transform: scale(1.01) translateY(-5px);
    color: rgb(255, 247, 0);
}

.contact-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #9CFF00;
    border-radius: 50%;
    font-size: 20px;
    color: #9CFF00;
    text-decoration: none;
    margin: 0 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}


.bxl-facebook:hover {
    color: rgb(38, 0, 255);
    border: black;
    box-shadow: 0 0 20px #8c00ff;
    background-color: rgb(255, 255, 255);
}

.bxl-instagram:hover {
    color: rgb(255, 7, 143);
    border: black;
    box-shadow: 0 0 20px #8c00ff;
    background-color: rgb(255, 255, 255);
}

.bxl-youtube:hover {
    color: rgb(255, 0, 0);
    border: black;
    box-shadow: 0 0 20px #8c00ff;
    background-color: rgb(255, 255, 255);
}

.bxl-gmail:hover {
    color: rgb(255, 255, 255);
    border: rgb(230, 13, 13);
    box-shadow: 0 0 20px #8c00ff;
    background-color: rgb(223, 11, 11);
}

.contact-form form {
    position: relative;
}

.contact-form .btn-box {
    border: none;
    background-color: #9CFF00;
    color: rgb(0, 0, 0);
    text-align: center;
}

.last-text p {
    width: 100%;
    color: black;
    text-align: center;
    padding: 25px 0;
    background: #9CFF00;
    font-weight: 300;
    margin-top: 70px;
}

.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}

.top i {
    color: #9CFF00;
    background: #051129;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #9CFF00;
}

.top i:hover{
    color: black;
    background-color: #9CFF00;
    border: 3px solid #051129;
}


@keyframes animatename {

    0%,
    100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes animate {
    0% {
        width: 0;
        /* or any initial value */
    }

    100% {
        /*         width: 100%; */
    }
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 50;
        ;
        ;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 175;
        ;
        ;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 125;
        ;
        ;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 75;
        ;
        ;
    }
}


